@model FirstPageTry.Models.BibleModel

<div>
    <h4>BibleModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Book)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Book)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Chapter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Chapter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Verse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Verse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
